name: mlops-example-tensorflow-regression
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    container: docker://iterativeai/cml:0-dvc2-base1
    steps:
      - uses: actions/checkout@v4
          
      - name: Train model
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Install dependencies
          pip install -r requirements.txt
          
          # Train model
          python model.py
          
          # Create report
          echo "## Model Metrics" > report.md
          cat metrics.txt >> report.md
          echo "" >> report.md
          echo "## Model Performance" >> report.md
          echo "Model performance metrics are on the plot below." >> report.md
          echo "" >> report.md
          echo "![Model Results](./model_results.png)" >> report.md
          
          # Create comment with published image
          cml comment create report.md
