name: mlops-example-tensorflow-regression
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v3
      - name: 'Train my model'
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Install dependencies
          pip install --upgrade pip
          pip install -r requirements.txt
          
          # Train model
          python model.py
          
          # Create report
          echo "## Model Metrics" > report.md
          cat metrics.txt >> report.md
          
          echo "" >> report.md
          echo "## Model Performance" >> report.md
          echo "Model performance metrics are on the plot below:" >> report.md
          
          cml-publish model_results.png --md >> report.md
          cml-send-comment report.md
